<app-navbar></app-navbar>
<!-- Page Content -->
<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i> <span>Toggle Sidebar</span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item active"><a class="nav-link" href="#">Page</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Page</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Page</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Page</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-lg-12">
      <h2>Zonas</h2>
    </div>
  </div>
  <br>
  <div class="row justify-content-around">
    <div class="col-lg-4" *ngFor="let zona of zonas">
      <div class="card">
        <div class="card-body">
          <div class="card-title">Zona: {{zona.descripcion_zona}}</div>
          <h6 class="card-subtitle mb-2 text-muted">Supervisor a cargo: {{zona.supervisor}}</h6>
          <!-- aqui podria ir un texto -->
          <a class="card-link" [routerLink]="zona" (click)="llevame_a_zona()">Ver
            zona</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
