<!-- SOLO CONTENIDO DE LA PAGINA DE DASHBOARD -->
<div class="row">
  <div class="col-lg-12">
    <h2>Lista de zonas</h2>
  </div>
</div>
<br />
<!-- FILA -->
<div class="row justify-content-around">
  <!--
    TARJETA (AQUI SOLO HAY UNA PERO APARECERAN MAS SEGUN LA CANTIDAD DE CONTENIDOS QUE EXISTAN EN LA BASE DE DATOS)
  -->
  <div class="col-lg-4" *ngFor="let zona of zonas">
    <div class=" animated fadeIn">
      <div class="card">
        <div class="card-body">
          <div class="card-title">Zona: {{ zona.descripcion_zona }}</div>
          <h6 class="card-subtitle mb-2 text-muted">
            Supervisor a cargo: {{ zona.supervisor }}
          </h6>
          <!-- aqui podria ir un texto -->
          <a class="card-link" [routerLink]="['zona', zona.id_zona]">Ver zona</a>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>
  </div>
</div>