<!--
  FORMULARIO DE GESTION DE PLANES DE TRABAJO QUE SE MOSTRARA COMO FRAGEMENTO EN UN MODAL QUE ESTA EN OTRO COMPONENTE
-->

<div class="body">
  <div class="contenedor-tabla">
    <form action="">
      <table class="table table-striped tabla">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Actividad</th>
            <th scope="col">Prioridad</th>
            <th scope="col">inicio</th>
            <th scope="col">fin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <mat-checkbox [formControl]="disableSelectUno"
                >Apertura</mat-checkbox
              >
            </th>
            <th>
              <select
                name="prioridad"
                id="prioridad"
                class="custom-select"
                [disabled]="!disableSelectUno.value"
              >
                <option value="Normal" selected>Normal</option>
                <option value="Baja">Baja</option>
                <option value="Alta">Alta</option>
              </select>
            </th>
            <th>
              <input
                type="date"
                placeholder="dd/mm/aa"
                class="form-control"
                [disabled]="!disableSelectUno.value"
              />
            </th>
            <th>
              <input
                type="date"
                placeholder="dd/mm/aa"
                class="form-control"
                [disabled]="!disableSelectUno.value"
              />
            </th>
          </tr>
          <!--
            <tr>
              <th>
                <mat-checkbox [formControl]="disableSelectDos">Evaluación</mat-checkbox>
              </th>
              <th>
                <select name="prioridad" id="prioridad" class="custom-select" [disabled]="!disableSelectDos.value">
                  <option value="Normal" selected>Normal</option>
                  <option value="Baja">Baja</option>
                  <option value="Alta">Alta</option>
                </select>
              </th>
              <th>
                <input type="date" placeholder="dd/mm/aa" class="form-control" [disabled]="!disableSelectDos.value">
              </th>
              <th>
                <input type="date" placeholder="dd/mm/aa" class="form-control" [disabled]="!disableSelectDos.value">
              </th>
            </tr>
            <tr>
              <th>
                <mat-checkbox [formControl]="disableSelectTres">Inspección</mat-checkbox>
              </th>
              <th>
                <select name="prioridad" id="prioridad" class="custom-select" [disabled]="!disableSelectTres.value">
                  <option value="Normal" selected>Normal</option>
                  <option value="Baja">Baja</option>
                  <option value="Alta">Alta</option>
                </select>
              </th>
              <th>
                <input type="date" id="inicio" placeholder="dd/mm/aa" class="form-control" [disabled]="!disableSelectTres.value">
              </th>
              <th>
                <input type="date" id="fin" placeholder="dd/mm/aa" class="form-control" [disabled]="!disableSelectTres.value">
              </th>
            </tr>
          -->
        </tbody>
      </table>
      <!--
        probar si se puede poner el atributo data-dismiss="modal" aqui o en un alert ponerselo
      -->
      <button
        id="btnEnviar"
        class="btn btn-success btn-block"
        data-dismiss="modal"
        (click)="enviar_plan()"
      >
        <i class="fas fa-plus"></i> Asignar plan de trabajo
      </button>
    </form>
  </div>
</div>
