<div class="row">
  <div class="col-lg-12">
    <h2>
      Gestor de actividades
    </h2>
  </div>
  <!-- <div class="col-lg-12">
    <h4>Seleccione la / las actividades que el supervisor realizará.</h4>
  </div> -->
</div>
<br />
<div class="row">
  <div class="col-lg-12">
    <h6>Seleccione una actividad que el supervisor realizará.
      <br>
      Después elija una o más fechas para la realización de la(s) actividad(es) escogida(s).
    </h6>
    <hr>
  </div>
  <!-- <form [formGroup]="check_form">
    <div class="col-lg-4 col-md-12" style="padding-top: 10%;">
      <input type="checkbox" id="checkbox-1" formControlName="apertura" />hola
      <input type="checkbox" id="checkbox-2" formControlName="acto_dos" />mundo
      <input type="checkbox" id="checkbox-3" formControlName="acto_tres" />como estan
    </div>
    <button type="button" (click)="submit()">agregar</button>
  </form> -->
  <div class="col-lg-8 col-md-12">
    <form [formGroup]="planes_form" id="formulario">
      <!-- <div class="row">
        <div class="col-lg-6"></div>
      </div>
      <div class="row">
        <div class="divider"></div>
        <br>
      </div> -->
      <div class="row">
        <div class="col-lg-5 form-group">
          <label for="">Actividad:</label>
          <select name="" id="" class="form-control" data-size="auto" formControlName="tipo_actividad">
            <option value="null" selected>Seleccione...</option>
            <option value="apertura">1. Apertura del punto de venta</option>
            <!-- <option value="ingreso">2. Ingreso a la sucursal</option>
            <option value="papeleria">3. Papelería y documentos</option>
            <option value="kardex">4. Revisión de Kardex y elaboración</option>
            <option value="pedidos">5. Evaluación de pedidos</option>
            <option value="presupuestos">6. Presupuestos de pedidos</option>
            <option value="faltantes">7. Libros de faltantes</option>
            <option value="seguimiento">8. Seguimiento a vendedores</option>
            <option value="productos">9. Productos indicados</option>
            <option value="informe">10. Entrega de informe</option>
            <option value="revision">11. Revisión de libro y agenda del cliente</option>
            <option value="inventario">12. Revisión completa de los inventarios</option>
            <option value="excesos">13. Excesos</option>
            <option value="vencimientos">14. Libro de vencimientos</option>
            <option value="vencimientos">14. Libro de vencimientos</option>
            <option value="vencimientos">14. Libro de vencimientos</option>
            <option value="vencimientos">14. Libro de vencimientos</option>
            <option value="vencimientos">14. Libro de vencimientos</option>
            <option value="vencimientos">14. Libro de vencimientos</option>
            <option value="vencimientos">14. Libro de vencimientos</option>
            <option value="vencimientos">14. Libro de vencimientos</option>
            <option value="vencimientos">14. Libro de vencimientos</option>
            <option value="vencimientos">14. Libro de vencimientos</option> -->
          </select>
        </div>
        <div class="col-lg-5 form-group">
          <label for="prioridad">Prioridad:</label> <br />
          <select class="form-control" formControlName="id_prioridad" name="prioridad" id="prioridad">
            <option [ngValue]="null">Seleccione...</option>
            <option *ngFor="let prioridad of prioridades" value="{{prioridad.id_prioridad}}">{{
              prioridad.nombre }}</option>
          </select>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
      </div>
      <!-- ***********  FILA QUE CONTIENE LOS INPUTS DE FECHA INICO Y FIN PARA CONTROLAR EL DUPLICADO DE ÉSTE  ********* -->
      <div class="row align-items-end" formArrayName="array_fechas_apertura">
        <div class="col-lg-12" *ngFor="let group of array_fechas.controls; let i = index;" [formGroupName]="i">
          <div class="row align-items-end">
            <div class="col-lg-5 col-sm-5 col-5 form-group">
              <label for="inicio">Inicia actividad:</label> <br />
              <input class="form-control" type="date" formControlName="fecha_inicio" name="inicio" id="inicio"
                placeholder="dd/mm/aa" />
            </div>
            <div class="col-lg-5 col-sm-5 col-5 form-group">
              <label for="fin" class="fin">Termina:</label> <br />
              <input class="form-control" type="date" formControlName="fecha_fin" name="fin" id="fin" placeholder="dd/mm/aa" />
            </div>
            <div class="col-lg-1 col-sm-1 col-1 form-group">
              <button mat-mini-fab class="botones" id="btnAgregar" name="btnAgregar" title="agregar fechas" (click)="agregar_fechas()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <div class="col-lg-1 col-sm-1 col-1 form-group">
              <button mat-mini-fab class="botones" id="btnEliminar" title="eliminar fechas" (click)="eliminar_fechas(i)">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <button mat-button id="btnEnviar" name="btnEliminar" (click)="submit_handler()" value="Crear actividad Apertura">Crear
            actividad</button>
        </div>
      </div>
    </form>
  </div>
</div>





<!-- <form [formGroup]="planesform" (ngSubmit)="simular_envio()" id="formulario">
        <div class="row justify-content-between align-items-center form_apertura_checked">
          <div class="col-9">
            <h4>
              <mat-checkbox id="check_apertura" color="primary" data-target=".form_apertura">
                Apertura
              </mat-checkbox>
            </h4>
          </div>
          <div class="col-3 cont_botones justify-content-around">
            <button mat-mini-fab class="botones" id="btnAgregar" data-content="Agregar a la lista" rel="popover"
              data-placement="top">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-mini-fab class="botones" id="btnEliminar" data-content="Ver lista" rel="popover" data-placement="top">
              <mat-icon>visibility</mat-icon>
            </button>
          </div>
          <div class="row fila_dos">
            <div class="col-lg-3 col-md-6 col-sm-6 form-group">
              <label>Id. plan de trabajo:</label>
              <br>
              <input class="form-control" formControlName="id_plan_trabajo" type="text" value="" readonly />
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 form-group">
              <label for="prioridad">Prioridad:</label> <br />
              <select class="form-control" formControlName="id_prioridad" name="prioridad" id="prioridad">
                <option [ngValue]="null">Seleccione...</option>
                <option *ngFor="let prioridad of prioridades" value="{{prioridad.id_prioridad}}">{{
                  prioridad.nombre }}</option>
              </select>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 form-group">
              <label for="inicio">Inicia actividad:</label> <br />
              <input class="form-control" type="date" formControlName="fecha_inicio" name="inicio" id="inicio"
                placeholder="dd/mm/aa" />
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 form-group">
              <label for="fin">Termina:</label> <br />
              <input class="form-control" type="date" formControlName="fecha_fin" name="fin" id="fin" placeholder="dd/mm/aa" />
            </div>
          </div>
        </div>
      </form> -->