@import '../../../../shared/navbar/navbar.component.css';

/* input[type='date'] {
  width: 160px;
} */

@media screen and (max-width: 950px) {
  #columna-fecha {
    width: 180px;
  }

  input[type='date'] {
    width: 160px;
  }
}

@media screen and (max-width: 875px) {
  #columna-fecha {
    width: 60px;
  }

  input[type='date'] {
    width: 120px;
  }
}

@media screen and (max-width: 768px) {
  #columna-fecha {
    width: 180px;
  }

  input[type='date'] {
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  #columna-fecha {
    width: 180px;
  }

  input[type='date'] {
    width: 160px;
  }
}
