<form action="">
  <input type="text" name="da" id="da" placeholder="asdasdads" class="form-control">
  <br>
  <input type="text" placeholder="blablabla">
  <br>
  <input type="checkbox" name="uno" id="uno">
  <label for="uno">apertura</label>
  <br>
  <input type="checkbox" name="dos" id="dos">
  <label for="dos">inspeccion</label>
  <br>
  <input type="checkbox" name="tres" id="tres">
  <label for="tres">revision</label>
  <br><br>
  <input type="submit" class="btn btn-success btn-block" value="enviar">
  <!-- probar si se puede poner el atributo data-dismiss="modal" aqui o en un alert ponerselo -->
</form>
