<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <div id="imagen" style="width: 100px; height: 100px;">
        <img src="../../../assets/imagenes/user_icon.png" width="100" height="100" class="img img-circle img-responsive"
          alt="coordinador photo" title="aqui va la foto del perfil del coordinador ese">
      </div>
      <h6>Bienvenido:</h6>
      <h3>{{coordinador.nombre | titlecase }} {{coordinador.apellido | titlecase }}</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Region: {{coordinador.region | titlecase }}</p>
      <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="#" class="download" [routerLink]="''" (click)="cerrarSesion()">Cerrar sesión</a>
      </li>
    </ul>
  </nav>
</div>
